mixin link(href, name)
    a(class!=attributes.class href=href)= name

mixin heading(title,vector)
    .heading(class!=attributes.class)
        h1(class ="heading__title")= title
        img(src=`./assets/images/v-${vector ? 'title' : 'heading'}.png`, alt="v-heading")
        if title === "Đăng nhập"
            a(href="./dangky.html" class="btn btn--register") Đăng ký
        if title === "Đăng ký"
            a(href="./dangnhap.html" class="btn btn--register") Đăng nhập

mixin renderList(arr,heading)
    each item in arr
        li.list__item
            a(href="#" class=`item__link ${item === heading ? 'item__link--heading' : ''}`)= item

mixin imageProduct(src)
    .product__image(class!=attributes.class)
        .product__image-line
        img(src=src, alt="product14" class="product__image-main")
        .product__image-action
                p.action__item
                    i.fas.fa-heart
                    | Yêu thích
                p.action__item
                    i.fas.fa-signal
                    | So sánh
                i.fas.fa-external-link-alt

mixin renderProduct(src,name,price,discount,className)
    .product
        +imageProduct(src)(class=className)
        h1.product__name= name
        p.product__price= `${price}đ `
            span.product__price-discount=` ${discount}đ`
        button.btn.btn--black add to cart

mixin breadcrumbs(listBreadcrumbs)
    ul.breadcrumbs
        each item in listBreadcrumbs
            li.breadcrumbs__item
                a(href="#" class="breadcrumbs__item-link")= item

mixin tabs()
    ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
        li.nav-item(role='presentation')
            button#pills-character-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-character' type='button' role='tab' aria-controls='pills-character' aria-selected='true') Đặt điểm nổi bật
        li.nav-item(role='presentation')
            button#pills-info-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-info' type='button' role='tab' aria-controls='pills-info' aria-selected='false') Thông tin sản phẩm
        li.nav-item(role='presentation')
            button#pills-review-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-review' type='button' role='tab' aria-controls='pills-review' aria-selected='false') Đánh giá
    #pills-tabContent.tab-content
        #pills-character.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-character-tab')= textDetail
        #pills-info.tab-pane.fade(role='tabpanel' aria-labelledby='pills-info-tab')= textDetail
        #pills-review.tab-pane.fade(role='tabpanel' aria-labelledby='pills-review-tab')= textDetail

mixin productRow(item)
    tr
        td(width="17%")
            img(src=`./assets/images/products/${item.image}`, alt=`product-${item.image}`)
        td(width="34%")
            h1.product__name= item.name
        td(width="15%")
            p.product__price= `${item.price}đ `
        td(width="15%")
            input(type="text" class="cart__table-input" value="1")
        td(width="13%")
            p.product__price= `${item.price}đ `
        td(width="6%")
            i.fas.fa-trash-alt

mixin orderRow(item)
    tr
        td(width="5%")
            p= item.num
        td(width="30%").table__col-num
            h2= `${item.id} - ${item.date}`
            span= item.datetime
        td(width="17%")
            p= item.warehouse
        td(width="7%")
            p= item.amount
        td(width="13%")
            p= `${item.total}`
        td(width="15%")
            p= item.status
        td(width="13%")
            p= item.actions

mixin pagination()
    nav(aria-label='Page navigation example')
        ul.pagination
            li.page-item
                a.page-link(href='#' aria-label='Previous')
                    i.fas.fa-angle-left
            li.page-item.active
                a.page-link(href='#') 1
            li.page-item
                a.page-link(href='#') 2
            li.page-item
                a.page-link(href='#') 3
            li.page-item
                a.page-link(href='#' aria-label='Next')
                    i.fas.fa-angle-right

mixin inputText(label ,name, value, classLabel, classInput, isEdit, type)
    label.col-form-label(class= classLabel for= name)= label
    div(class= classInput)
        if (isEdit)
            input.form-control(type=type ? type : 'text' id=name name= name value= value)
        else
            p= value

mixin checkBox(label,name,classLabel)
    div(class= classLabel)
        .form-check
            input.form-check-input(type= 'checkbox' id= name name= name)
            label.form-check-label(for= name)= label

mixin selectBox(label,name, value, options, isEdit)
    label.col-sm-3.col-form-label(for= name)= label
    .col-sm-9
        if (isEdit)
            select#city(name= name).form-control
                each option in options
                    option(value= option.value)= option.label
        else
            p= value